.layout-1200 {
  margin:0 auto;
  min-width: 800px;
  max-width: 1200px;
}

.header{
  padding:15px;
  font-weight: bold;
  font-size: 25px;
}

.input{
  margin:0 5px;
  padding:5px;
  height: 20px;
  border-radius: 5px;
  border:1px solid #ddd
}

/* btn 공통 */
button[class^='btn-']{
  padding:4px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-blue{
  color:#fff;
  background-color: #0B60B0;
  border:1px solid #0B60B0;
}
.btn-red{
  color:#ff0000;
  background-color: transparent;
  border:2px solid #ff0000;
}
.btn-green{
  color:#0d7403;
  background-color: transparent;
  border:2px solid #0d7403;
}

.add-todo-area{
  padding:15px;
  display: flex;
  align-items: center;
  justify-content: right;
}
.add-todo-area label{
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
}
.page-title{
  font-size: 20px;
  font-weight: bold;
}
.todo-list{
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  min-height: 150px;
}
.item{
  margin:10px 5px;
  padding:15px;
  display: inline-block;
  width:calc(50% - 10px);
  border:1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
}
.item.done{
  background: #f7f7f7;
}
.title{
  font-weight: bold;
  color:#000;
}
.contents{
  margin-top: 5px;
  font-size: 14px;
  color:#000;
}
.done .title,
.done .contents{
  color:#999
}
.btn-box{
  display: flex;
  margin-top: 10px;
}
.btn-box .btn-red,
.btn-box .btn-green{
  width: 100%;
}
.btn-box .btn-green{
  margin-left: 10px;
}